.zaz-pane {
    display: flex;
    flex-direction: column;
    &[data-orientation="v"] {
        flex-direction: column;
        .zaz-pane-panel {
            flex-direction: column;
            .zaz-pane-panel-tab {
                border-bottom: 1px solid #ccc;
                border-right: none;
            }
            .zaz-pane-panel-content {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left: none;
                border-right: none;
            }
            &.active {
                .zaz-pane-panel-tab {
                    border-bottom: none;
                }
            }
        }
    }
    &[data-orientation="h"] {
        flex-direction: row;
        .zaz-pane-panel {
            flex-direction: row;
            .zaz-pane-panel-tab {
                flex-direction: column;
                width: 16px;
                border-right: 1px solid #ccc;
                border-bottom: none;
                .zaz-pane-panel-tab-title {
                    margin-left: 0px;
                    margin-top: 5px;
                    transform: rotate(90deg);
                }
                .zaz-pane-panel-tab-indicator {
                    transform: rotate(-90deg);
                }
            }
            .zaz-pane-panel-content {
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-top: none;
                border-bottom: none;
            }
            &.active {
                .zaz-pane-panel-tab {
                    border-right: none;
                    .zaz-pane-panel-tab-indicator {
                        transform: rotate(90deg);
                    }
                }
            }
            .zaz-pane-panel-content {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: none;
                border-top: none;
            }
        }
    }
    .zaz-pane-panel {
        transition: all 0.2s ease-in-out;
        display: flex;
        &.active {
            flex: 1;
            .zaz-pane-panel-tab {
                .zaz-pane-panel-tab-indicator {
                    transform: rotate(180deg);
                }
            }
            .zaz-pane-panel-content {
                display: block;
            }
        }
        .zaz-pane-panel-tab {
            background-color: #f5f5f5;
            padding: 10px;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            .zaz-pane-panel-tab-title {
                margin-left: 5px;
                white-space: nowrap;
            }
            .zaz-pane-panel-tab-indicator {
                display: inline-block;
                background: url(../../framework/images/framework.png) no-repeat transparent 0 0;
                filter: invert(1);
                width: 15px;
                height: 15px;
                background-position: -15px -50px;
            }
        }
        .zaz-pane-panel-content {
            padding: 5px;
            display: none;
            flex: 1;
            overflow: auto;
        }
    }
}