<div class="container zaz-effect zaz-effect-bar-top">
    <div class="controls">
        <div class="controls-bar">
            <div class="message">Sample News (TechCrunch)</div>
        </div>
        <div class="controls-bar">
            <div class="knobs">
                <div tabindex="0" class="knob active" data-mode="gallery" title="View as Gallery">
                    <i class="material-icons md-light">view_module</i>
                    <label>Gallery</label>
                </div>
                <div tabindex="0" class="knob"  data-mode="list" title="View are List">
                    <i class="material-icons md-light">view_list</i>
                    <label>List</label>
                </div>
            </div>
        </div>
    </div>
    <div class="content" data-mode="gallery">
    </div>
</div>