<div class="zaz-overlay zaz-alert-overlay" tabindex="-1" aria-label="{{title}}" role="alertdialog">
    <div class="zaz-overlay-header">
        <div class="left">
            <div class="zaz-overlay-header-title" tabindex="0"></div>
        </div>
        <div class="right">
            <i class="material-icons md-light zaz-overlay-header-close" tabindex="0" role="button" title="Close">close</i>
        </div>
    </div>
    <div class="zaz-overlay-content" tabindex="0" aria-live="assertive" role="alert"></div>
    <div class="zaz-overlay-footer">
        <div class="left">
        </div>
        <div class="right">
            <button class="button" data-action="ok" tabindex="0">OK</button>
        </div>
    </div>
</div>