<div class="zaz-overlay zaz-overlay-active" title="{{title}}" tabindex="-1">
    <div class="zaz-overlay-header">
        <div class="left">
            <div class="zaz-overlay-header-title" tabindex="0">{{{title}}}</div>
        </div>
        <div class="right">
            <i class="material-icons md-light zaz-overlay-header-close" tabindex="0" role="button" title="Close">close</i>
        </div>
    </div>
    <div class="zaz-overlay-content" tabindex="0">{{{content}}}</div>
    <div class="zaz-overlay-footer">
        <div class="left">
        </div>
        <div class="right">
            <button class="button close">Close</button>
        </div>
    </div>
</div>