    <div class="container zaz-effect zaz-effect-bar-top">
        <div class="controls">
            <div class="controls-bar">
                <div class="message">
                    {gadgetName} - Simple Template
                </div>
            </div>
        </div>
        <div class="content">
            <div class="address">
                <div class="fname"></div>
                <div class="lname"></div>
                <div class="city"></div>
            </div>
        </div>
    </div>