<div class="zaz-overlay about-overlay" role="dialog" tabindex="0">
    <div class="zaz-overlay-header">
        <div class="left">
            <div class="zaz-overlay-header-title" tabindex="0" aria-label="About Zaz UI"></div>
        </div>
        <div class="right">
            <i class="material-icons md-light zaz-overlay-header-close" tabindex="0" role="button" title="Close">close</i>
        </div>
    </div>

    <div class="zaz-overlay-content">
        <div class="left">
            <div class="logo">
                <img class="icon" src="./framework/images/logo.png" />
            </div>
        </div>
        <div class="right">
            <div>
                <span>Version</span>&nbsp;
                <span class="version"></span>
            </div>
            <div class="about-content">
                Next generation of UI Development Platform for Enterprise Web Applications.
                <div class="section new">
                    <div class="about-content-title">What's new!</div>
                    <ol>
                        <li>Material design icons adopted for Ligatures (Better Accessbility)</li>
                        <li>Developer harness (beta) for faster development</li>
                        <li>Responsive Experience for Mobile mode</li>
                        <li>Several improvements for Better UX/Styles administration</li>
                        <li>Code Generation Templates for Simple and Grid Gadgets</li>
                    </ol>
                </div>
                <div class="section coming">
                    <div class="about-content-title">What's coming!</div>
                    <ol>
                        <li>Accessible Panel and Splitter Widgets (beta)</li>
                        <li>Enhanced Inline/Multi Level Animated Menu</li>
                    </ol>
                </div>
                <div class="section planned">
                    <div class="about-content-title">What's planned!</div>
                    <ol>
                        <li>Dynamic Forms Widget</li>
                        <li>Dynamic Forms Administration for feature development by leveraging 
                            configuration/customization features, enabling absolute control 
                            over UI/UX which turn into a challenge with COTS products</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="zaz-overlay-footer">
        <div class="left"></div>
        <div class="right">
            <button class="button zaz-effect zaz-effect-bar-bottom default" data-action="ok">OK</button>
        </div>
    </div>
</div>