{{#if main}}
    <div class="container zaz-effect zaz-effect-bar-top">
        <div class="controls"></div>
    </div>
{{/if}}

{{#if tooltip}}
    <div class="gm-label">
        <span class="text">Property Age:    </span>
        <span class="value">{{property.age}} year(s)</span>
    </div>
    <div class="gm-label">
        <span class="text">Property Wear and Tear:    </span>
        <span class="value">{{property.wearTear}}%</span>
    </div>
{{/if}}