<div class="container zaz-effect zaz-effect-bar-top">
    <div class="controls">
        <div class="controls-bar">
            <div class="message">
                {{items.APPLICATIONS-DATA-1}}
            </div>
        </div>
        <div class="controls-bar">
            <div class="knobs">
                <div tabindex="0" class="knob active" data-view="columns" title="View as Columns Chart">
                    <i class="material-icons md-light">insert_chart</i>
                    <label>Columns</label>
                </div>
                <div tabindex="0" class="knob"  data-view="pie" title="View as Pie Chart">
                    <i class="material-icons md-light">pie_chart</i>
                    <label>Pie</label>
                </div>
            </div>
        </div>
    </div>
    <div class="chart"></div>
</div>