<div class="log" style="display:none">
    <div class="title">Log Manager</div>
    <div class="list">
        <table width="100%" cellpadding="2" cellspacing="1"></table>
    </div>
    <div class="buttons">
        <button class="button close" style="float:right">Close</button>
        <button class="button clear" style="float:right">Clear</button>
    </div>
</div>